#header-title {
    background-color: teal;
    color: white;
    font-family: Times, "Times New Roman", serif;
    font-size: 30px;
}

#background {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-color: teal;
    position: absolute;
    z-index: -1;
   
  }


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }
