html, body{
    font-family: 'Quicksand', sans-serif!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* background fill to edges */
/* #page-container {	    
    position: relative;	    
    min-height: 100vh!important;	
}	 */

/* background fill to edges */
/* #content-wrap{
    padding-bottom: 1.5rem!;
} */

/* navbar title */
#header-title {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #435764;
    font-size: 45px;
}

/* email and phone number */
#infoTitle{
    margin: 20px;
    font-size: 16px;
}

/* navbar positioning */
#navPosition{
    position:relative;
}

/* navbar page titles */
.nav-item{
    font-size: 20px;
}

/* about me tile margin */
.marginCSS{
    margin: 1rem!important;
}

/* about me tile attributes */
.tileCSS{
    color:#595959!important;
    background-color: #E6E6E6!important;
    border-radius: 20px!important;
    box-shadow: 0 0 40px -10px black!important;
}

/* about me link buttons */
.buttonGitCSS{
    border-radius: 15px!important;
    margin: 5px!important;
    width: 100px!important;
    display: inline-block;
}

/* about me mail button */
.mailButton{
    color: white!important;
    background-color: #8D9C8C!important;
}

.resumeButton{
    color: white!important;
    background-color: #8C6174!important;
}

/* about me doodle image attributes */
.img-text{
    text-align: center;
    margin-bottom: 10px!important;
}

/* about me section */
.aboutSection{
    font-size: 18px!important;
}

/* card attributes */
.cardCSS{
    margin: 3rem!important;
    padding: 2rem!important;
    border-radius:20px!important;
    box-shadow:0 0 40px -10px black!important;
}

/* contact submit button */
.submitButton{
    background-color: #A0B19F!important;
}

/* contact cancel button */
.cancelButton{
    background-color: #C98380!important;
}

/* portfolio containter attributes */
.portfolioContainer{
    margin: 2rem!important;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px black;
    padding: 35px;
    box-sizing:border-box;
    font-size: 18px;
    position:relative;
}

/* portfolio image attributes */
.coverImg{
    width: 100%!important;
    height: 175px!important;
    position: relative!important;
    object-fit: cover!important;
}

/* portfolio card attributes */
.portfolioCard{
    display: inline-block!important;
    border-radius: 15px!important;
    width: 225px!important;
    margin: 5px;
    background-color: #E0E3DA!important;
}

/* title on contact form */
.sectionHeader{
    padding-bottom: 10px;
    border-bottom: 2px solid #78788c;
}

/* submit button on contact form */
.button{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #78788c;
    background:0;color: #5a5a6e;
    text-decoration: none!important;
}

/* changes button color on portfolio cards */
a.buttonGitCSS:hover{
    background-color: #435764;
    color: white;
}

/* changes attributes of contact form buttons if mouse is hovered over it */
button:hover{
    background: #78788c;
    color:#fff;
    opacity: 0.7;
}

/* changes color of link if mouse hovered */
a.nav-link:hover{
    color: #BE7883!important;
    font-size: 21px;
}

/* changes color of name if mouse hovered */
a#header-title:hover{
    color:#BE7883!important;
    font-size: 46px;
}

/* changes color of find me buttons if mouse hovered */
a.findMeButton:hover{
    color: #615E5D!important;
    opacity: 80%;
}

/* changes outline color on input boxes if selected */
input:focus, textarea:focus { 
    outline: none !important;
    border-color: #A0B19F!important;
    box-shadow: 0 0 10px #A0B19F!important;;
}



.portfolioCard .imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 25px!important;
    font-weight: 600!important;
    color: #435764;
    text-shadow: 2px 2px 4px white;
    visibility:hidden;
    text-align: center;
}
    
.portfolioCard:hover .imgText {
    visibility:visible;
}



    